.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
}

.text-shadow-1 {
    text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}
.text-shadow-2 {
    text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.text-shadow-3 {
    text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.feature-icon-small {
    width: 3rem;
    height: 3rem;
}

.center {
    display: block;
    margin-left: 25%;
    width: 50%;
}

.carousel-item > img {
    display: block;
    width: auto;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 780px) {
    .carousel-item > img {
        display: block;
        height: auto;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
